@use "./colors" as *;

.mobile-top-search {
  position: relative;
  margin-top: 1.5rem;
}

.mobile-top-search input {
  border: none;
  border-bottom: 2px solid $primary;
  text-align: right;
  width: 100%;
  font-size: 1.125rem;
  padding: 0.5rem 0;
  transition: all 0.3s;

  &:focus {
    outline: none;
    border-bottom: 2px solid lighten($primary, 15%);
  }

  &::placeholder {
    opacity: 1;
    color: $secondary;
  }
}

.btn-menu {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: -4px;
  font-size: 1.5rem;
}

.btn-menu,
.btn-close {
  border: none;
  background-color: $white;
  color: $primary;
  transition: color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    color: lighten($primary, 15%);
  }
}

.mobile-sidenav__overlay {
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.mobile-sidenav__active {
  width: 100vw;
  opacity: 1;

  &::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
}

.mobile-sidenav {
  height: 100vh;
  width: 80%;
  background-color: $white;
  position: relative;
  z-index: 20;
  border-right: 2px solid $primary;
  color: $primary;
  transition: 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
}

.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}

.user-details {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 4.5rem 1.5rem 1.5rem;
  border-bottom: 2px solid $primary;
  display: flex;
  align-items: center;
  color: $red;
}

.user-details > i {
  font-size: 3rem;
  margin-right: 1rem;
  color: $primary;
}

.mobile-menu-items li:first-of-type {
  margin-top: 2rem;
}

.mobile-menu-item,
.mobile-btn-logout {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-size: 1.125rem;
  color: $primary;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: lighten($primary, 15%);

    i {
      transform: scale(1.25);
    }
  }
}

.mobile-menu-item {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.mobile-menu-item > i,
.mobile-btn-logout > i {
  transition: all 0.2s ease-in-out;
  margin-right: 1.25rem;
}

.mobile-btn-logout {
  border: none;
  background-color: $white;
  text-align: left;

  &:hover {
    cursor: pointer;
  }
}

.add-album__container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.btn-add-album {
  border: none;
  background-color: $primary;
  color: $white;
  padding: 0.5rem 1rem;
  font-family: "Open Sans", sans-serif;
  display: block;
  width: fit-content;
  margin-left: auto;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    color: $white;
    text-decoration: none;
    background-color: lighten($primary, 15%);
  }
}

.btn-add-album > i {
  margin-right: 0.75rem;
}

.manage-albums__container {
  margin-top: 1rem;
  color: $primary;
}

.manage-albums__titlebar > h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: $red;
  margin-bottom: 1rem;
}

.search-input__desktop {
  display: none;
}

.albums-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem 1.5rem;
}

.desktop-header {
  display: none;
  border-right: 2px solid $primary;
}

.logo-container {
  padding: 4rem 0 2rem;
  display: flex;
  justify-content: center;
  background-color: $logo-bg;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.desktop-main-nav {
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-button__label {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.125rem;
  transform: translate(-100%, -50%);
  transition: transform 0.3s ease-in-out;
  color: #fefefe;
  background: $primary;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
  padding: 0.25rem 1.5rem 0.25rem 2rem;
}

.main-nav__navitem {
  position: relative;
  &:hover {
    .nav-button__label {
      transform: translate(56px, -50%);
    }
  }
}

.desktop-main-nav .nav-button {
  display: flex;
  justify-content: center;
  padding: 1.65rem 0;
  font-size: 2rem;
  color: $primary;
  transition: all 0.3s ease-in-out;
  background-color: $nav-bg;
  position: relative;
  z-index: 10;

  &:hover {
    text-decoration: none;
    background-color: lighten($nav-bg, 15%);
  }
}

.btn-logout {
  border: none;
  display: block;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.nav-top > li,
.nav-bottom > li {
  border-top: 2px solid $primary;
}

.nav-top > li:last-child {
  border-bottom: 2px solid $primary;
}

.album-card {
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &:hover {
    cursor: pointer;

    img {
      transform: scale(1.1);
    }
  }
}

.album-poster__wrapper {
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.album-card img {
  border-radius: 4px 4px 0 0;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  object-fit: contain;
}

.album-card h3 {
  color: $primary;
  font-weight: 500;
  padding: 0.5rem 1rem 0;
}

.album-card p {
  color: $secondary;
  font-size: 0.875rem;
  padding: 0 1rem 0.75rem;
}

.album-card h3,
.album-card p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-container {
  margin-bottom: 8rem;
}

.mobile-main-nav__container {
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background-color: $nav-bg;
  border-top: 2px solid $primary;
  display: flex;
  flex-wrap: nowrap;
}

.mobile-main-nav__navitem {
  width: 25%;
  border-right: 2px solid $primary;

  &:last-child {
    border-right: none;
  }
}

.mobile-nav-button {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: none;
    background-color: lighten($nav-bg, 15%);
  }
}

.mobile-nav-button div {
  transform: translateY(50%);
  display: grid;
  place-items: center;
  color: $primary;
}

.mobile-nav-button i {
  font-size: 1.75rem;
}

.mobile-nav-button span {
  font-size: 0.75rem;
  transition: transform 0.3s ease-in-out;
}

.mobile-nav-button:hover span {
  transform: translateY(4px) scale(1.25);
}

.album-details__container {
  &::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
}

.album-details__content {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  height: 100vh;
  width: 0;
  max-width: 30rem;
  background-color: $album-details-bg;
  overflow: hidden;
  transition: all 0.4s ease-in-out;

  & > * {
    position: relative;
    z-index: 20;
    background-color: $album-details-bg;
  }
}

.album-details__open .album-details__content {
  width: 100%;
  overflow-y: auto;
}

.album-details__btn--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.btn-close-album {
  font-size: 2rem;
  margin-top: 0.25rem;
}

.btn-delete-album {
  color: $red;
  margin-left: 1.875rem;

  &:hover {
    color: lighten($red, 15%);
  }
}

.btn-edit-album,
.btn-delete-album {
  font-size: 1.5rem;
}

.btn-close-album,
.btn-edit-album {
  color: $primary;

  &:hover {
    color: lighten($primary, 15%);
    text-decoration: none;
  }
}

.btn-edit-album,
.btn-delete-album,
.btn-close-album {
  transition: color 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.album-cover__wrapper {
  padding: 0 3rem 2rem;
}

.album-cover__wrapper > img {
  width: 100%;
  object-fit: cover;
}

.album-details__title {
  color: $primary;
  font-weight: 800;
  font-size: 1.5rem;
}

.album-details__artist {
  color: $dark-brown;
  font-size: 1.25rem;
  padding-bottom: 2rem;
}

.album-details__title,
.album-details__artist {
  text-align: center;
}

.album-details__misc {
  display: flex;
  border-width: 2px 0 2px 0;
  border-color: $primary;
  border-style: solid;
}

.album-details__misc > li {
  width: calc(100% / 3);
  text-align: center;
  border-right: 2px solid $primary;
  padding: 1rem;

  &:last-child {
    border-right: none;
  }
}

.album-details__misc h4 {
  font-weight: 800;
  font-size: 1.25rem;
}

.album-details__desc {
  padding: 2rem 1rem 1rem;
}

.album-details__desc h4 {
  font-weight: 800;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.album-details__misc p,
.album-details__desc p {
  font-size: 1.125rem;
}

// Media queries to make the card container responsive
@media only screen and (min-width: 640px) {
  .albums-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 768px) {
  .albums-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1024px) {
  .main-container {
    margin: 0 4.875rem 0 11.625rem;
  }

  .albums-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
  }

  .mobile-header,
  .mobile-footer {
    display: none;
  }

  .desktop-header {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 6.75rem;
    min-height: 100vh;
    background-color: $nav-bg;
  }

  .manage-albums__titlebar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5rem;
  }

  .manage-albums__titlebar > h2 {
    font-size: clamp(1.5rem, 3vw, 4rem);
    margin-bottom: 0;
  }

  .search-input__desktop {
    display: initial;
    padding: 0.25rem 1rem 0.25rem 3rem;
    font-size: 1.25rem;
    border: none;
    border-bottom: 2px solid $primary;
    transition: all 0.3s;

    &:focus {
      outline: none;
      border-bottom: 2px solid lighten($primary, 15%);
    }

    &::placeholder {
      opacity: 1;
      color: $secondary;
    }
  }

  .search-bar__wrapper {
    position: relative;

    &::after {
      content: "\f002";
      position: absolute;
      top: 0.25rem;
      left: 1rem;
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      font-size: 1.25rem;
    }
  }

  .btn-add-album {
    display: inline-block;
    margin-left: 2rem;
  }

  .album-details__open {
    &::before {
      inset: 0; // top: 0 right: 0 bottom: 0 left: 0
      z-index: 10;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .albums-container {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
