<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Music Lounge - Admin Home</title>
    <meta
      name="author"
      content="CodeMasters | https://github.com/CodeMasters-Summer-2022 on Github"
    />
    <meta
      name="description"
      content="A place where you can find information about a wide variety of music albums."
    />

    <!-- User Styles -->
    <link rel="stylesheet" href="../../css/styles.css" />

    <!-- Import JavaScript files -->
    <script type="module" src="../../js/dashboard.js"></script>
  </head>
  <body>
    <h1>Music Lounge - Admin Dashboard</h1>
    <div id="app">
      <ul v-cloak>
        <li
          v-for="(name, index) in names"
          :key="name"
          @click="handleNameClick(index)"
        >
          {{ name }}
        </li>
      </ul>
      <p v-if="names.length === 0">Loading...</p>
      <button v-if="selectedNameIndex !== null" @click="deleteUser">
        Delete {{names[selectedNameIndex]}}
      </button>
    </div>
    <!-- <script src="https://unpkg.com/vue@latest"></script> -->
    <!-- For production, use -->
    <script src="https://unpkg.com/vue@latest/dist/vue.global.prod.js"></script>
  </body>
</html>
