<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Music Lounge - Admin Home</title>
    <meta
      name="author"
      content="CodeMasters | https://github.com/CodeMasters-Summer-2022 on Github"
    />
    <meta
      name="description"
      content="A place where you can find information about a wide variety of music albums."
    />

    <!-- Fontawesome import -->
    <script
      src="https://kit.fontawesome.com/a0058dad5f.js"
      crossorigin="anonymous"
    ></script>

    <!-- User Styles -->
    <link rel="stylesheet" href="../../css/styles.css" />

    <!-- Import JavaScript files -->
    <script type="module" src="../../js/dashboard.js"></script>
  </head>
  <body>
    <header class="mobile-header">
      <h1 class="sr-only">Music Lounge - Admin Dashboard</h1>
      <div class="mobile-top-search">
        <button class="btn-menu" id="btnMenu">
          <i class="fa-solid fa-bars"></i>
        </button>
        <input type="text" placeholder="Search" />
      </div>
      <div class="mobile-sidenav__overlay" id="sideNavOverlay">
        <nav class="mobile-sidenav" id="sideNav">
          <h2 class="user-details">
            <i class="fa-solid fa-circle-user"></i>
            Anika G.
          </h2>
          <button class="btn-close" id="btnClose">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <ul class="mobile-menu-items">
            <li>
              <a href="#" class="mobile-menu-item">
                <i class="fa-solid fa-user"></i>
                Account
              </a>
            </li>
            <li>
              <a href="#" class="mobile-menu-item">
                <i class="fa-solid fa-gear"></i>
                Settings
              </a>
            </li>
            <li>
              <button class="mobile-btn-logout" id="btnMobileLogout">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                Logout
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <header class="desktop-header">
      <div class="logo-container">
        <a href="../../index.html">
          <img
            src="../../static/icons/logo.svg"
            alt="Music Lounge Logo"
            class="logo"
          />
        </a>
      </div>
      <nav class="desktop-main-nav">
        <ul class="nav-top">
          <li class="main-nav__navitem">
            <a href="#" class="nav-button">
              <div>
                <i class="fa-solid fa-house-chimney"></i>
              </div>
            </a>
            <span class="nav-button__label">Home</span>
          </li>
          <li class="main-nav__navitem">
            <a href="#" class="nav-button">
              <div>
                <i class="fa-solid fa-music"></i>
              </div>
            </a>
            <span class="nav-button__label">Songs</span>
          </li>
          <li class="main-nav__navitem">
            <a href="#" class="nav-button">
              <div>
                <i class="fa-solid fa-compact-disc"></i>
              </div>
            </a>
            <span class="nav-button__label">Albums</span>
          </li>
          <li class="main-nav__navitem">
            <a href="#" class="nav-button">
              <div>
                <i class="fa-solid fa-microphone"></i>
              </div>
            </a>
            <span class="nav-button__label">Artists</span>
          </li>
        </ul>
        <ul class="nav-bottom">
          <li class="main-nav__navitem">
            <a href="#" class="nav-button">
              <i class="fa-solid fa-user"></i>
            </a>
            <span class="nav-button__label">Account</span>
          </li>
          <li class="main-nav__navitem">
            <a href="#" class="nav-button">
              <i class="fa-solid fa-gear"></i>
            </a>
            <span class="nav-button__label">Settings</span>
          </li>
          <li class="main-nav__navitem">
            <button class="btn-logout nav-button">
              <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </button>
            <span class="nav-button__label">Logout</span>
          </li>
        </ul>
      </nav>
    </header>
    <main id="app" class="main-container">
      <section class="manage-albums__container">
        <div class="manage-albums__titlebar">
          <div class="add-album__container">
            <div class="search-bar__wrapper">
              <input
                type="text"
                placeholder="Search"
                class="search-input__desktop"
              />
            </div>
            <a class="btn-add-album" id="btnAddAlbum" href="./add.html">
              <i class="fa-solid fa-plus"></i>
              Add Album
            </a>
          </div>
          <h2>Manage Albums</h2>
        </div>
        <ul class="albums-container" v-if="!isLoading && !hasError" v-cloak>
          <li
            class="album-card"
            v-for="album in albumData"
            :key="album.id"
            :data-id="album.id"
            @click="showAlbumDetails(album.id)"
          >
            <div class="album-poster__wrapper">
              <img :src="album.imgUrl" :alt="album.title + 'Album Cover'" />
            </div>
            <h3>{{ album.title }}</h3>
            <p>{{ album.artist }}</p>
          </li>
        </ul>
        <p v-else-if="isLoading">Loading Albums...</p>
        <p v-else>And error occurred while loading album data</p>
      </section>
      <aside
        class="album-details__container"
        :class="albumDetailsVisible && 'album-details__open'"
      >
        <div class="album-details__content">
          <div class="album-details__btn--container">
            <div class="album-details__btn--left">
              <i
                class="fa-solid fa-xmark btn-close-album"
                @click="hideAlbumDetails"
              ></i>
            </div>
            <div class="album-details__btn--right">
              <a
                :href="`./edit.html?albumId=${selectedAlbum?.id}`"
                class="btn-edit-album"
                ><i class="fa-solid fa-pen"></i
              ></a>
              <i class="fa-solid fa-trash-can btn-delete-album"></i>
            </div>
          </div>
          <div class="album-cover__wrapper">
            <img
              :src="selectedAlbum?.imgUrl"
              :alt="selectedAlbum?.title + ' album cover.'"
            />
          </div>
          <h3 class="album-details__title">{{ selectedAlbum?.title }}</h3>
          <p class="album-details__artist">{{ selectedAlbum?.artist }}</p>
          <ul class="album-details__misc">
            <li>
              <h4>Release</h4>
              <p>{{ selectedAlbum?.release }}</p>
            </li>
            <li>
              <h4>Genre</h4>
              <p>{{ selectedAlbum?.genre }}</p>
            </li>
            <li>
              <h4>Cost</h4>
              <p>${{ selectedAlbum?.cost }}</p>
            </li>
          </ul>
          <aside class="album-details__desc">
            <h4>Description</h4>
            <p>{{ selectedAlbum?.description }}</p>
          </aside>
        </div>
      </aside>
    </main>
    <footer class="mobile-footer">
      <nav>
        <ul class="mobile-main-nav__container">
          <li class="mobile-main-nav__navitem">
            <a href="#" class="mobile-nav-button">
              <div>
                <i class="fa-solid fa-house-chimney"></i>
                <span>Home</span>
              </div>
            </a>
          </li>
          <li class="mobile-main-nav__navitem">
            <a href="#" class="mobile-nav-button">
              <div>
                <i class="fa-solid fa-music"></i>
                <span>Songs</span>
              </div>
            </a>
          </li>
          <li class="mobile-main-nav__navitem">
            <a href="#" class="mobile-nav-button">
              <div>
                <i class="fa-solid fa-compact-disc"></i>
                <span>Albums</span>
              </div>
            </a>
          </li>
          <li class="mobile-main-nav__navitem">
            <a href="#" class="mobile-nav-button">
              <div>
                <i class="fa-solid fa-microphone"></i>
                <span>Artists</span>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </footer>
    <script src="https://unpkg.com/vue@latest"></script>
    <!-- For production, use -->
    <!-- <script src="https://unpkg.com/vue@latest/dist/vue.global.prod.js"></script> -->
  </body>
</html>
